<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	
<div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
    <p class="post-body">
Les Google DevFests sont des événements communautaires de grande envergure à travers le monde, organisés par des communautés locales d'utilisateurs. Ils constituent une occasion unique de partager et d’échanger autour des technologies du web et du cloud, pour cette édition sur la thématique "véhicule connecté".
    </div>
</div>
</section>

    
