<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Faubourg Numérique</h3>
			<article class="row">
				
               
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>Une stratégie “services et objets connectés” portée par des entrepreneurs et des universitaires de Haute Picardie pour ouvrir de nouvelles voies de développement économique</h6>
<p class="post-body">
Faubourg Numérique, c'est d'abord un lieu de travail au cœur de Saint-Quentin: des bureaux et un atelier de prototypage (“Living Lab”) dédié à la mutualisation, l’échange et la collaboration entre ses contributeurs, entreprises ou porteurs de projets. Cet espace de coworking a été stratégiquement localisé au Faubourg d'Isle, à deux pas de la gare, du futur Pôle Universitaire (UPJV-INSSET, IUT) et de la plateforme de transfert technologique INNOVALTECH: le but est de créer un effet de cluster afin de stimuler et dynamiser les travaux collaboratifs entre les entreprises, les étudiants et les enseignants-chercheurs, autour de projets de services et objets connectés, rassemblant les compétences complémentaires développées localement : mécanique numérique, systèmes embarqués, cloud computing et logistique. Pour compléter le panel des compétences, des relations étroites sont également établies avec l’IAE d’Amiens pour intégrer une vision marketing et commerciale dès le début des projets. 
</p>
					</div>
              
			<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>Des actions concrètes pour créer une dynamique de cluster pour mutualiser les efforts, renforcer et étendre le réseau professionnel </h6>
<p class="post-body">
 Pour animer cette dynamique de cluster, une à deux fois par trimestre Faubourg Numériqe organise des événements qui permettent de présenter et d’échanger les points de vues sur les opportunités et les technologies liées aux services et objets connectés. 
Notre prochain rendez-vous est fixé au 15 Octobre 2014 à la CCI de l’Aisne. <b>Le premier temps fort</b> de cette journée sera la série de présentation concernant le programme européen “Future Internet” qui entre dans sa phase 3 et offre aux petites entreprises et “web entrepreneurs” :
<ul>
<li>des technologies “open source” (développées dans les phases 1 et 2 avec un budget de 200 M€) dont une bonne partie concernent l’internet des objets
<li>le financement - de 50 à 200 k€ - des projets exploitant ces technologies dans quasiment tous les secteurs d’activité (avec une enveloppe totale de 80 M€)
</ul>
</p>
					</div>
            </article>
        </div>
	</div>
<div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
    <p class="post-body">
Pour nous présenter et - surtout! - nous faire profiter de ces opportunités, nous pourrons compter sur Thierry Nagellen, “Program Manager Future Internet” qui pourra en particulier évoquer les appels à projets lancés ces 17 et 18 septembre lors de la conférence ECFI Munich 2014. Nous aurons également un premier retour d’expérience sur l’approche des technologies “Future Internet” dans le cadre du projet collaboratif ComSLoT porté par la TPE saint-quentinoise 4PLanet et l’UPJV-INSSET.

<b>L’autre temps fort</b> sera concentré sur des technologies proposées par Intel, notamment l’Intel NDK dont le but est d’optimiser les applications Android et les cartes électroniques Intel Galileo et Edison. 

Sans oublier bien sur, en ouverture de ce programme bien fourni : Maxime - l’animateur de notre Google Developer Group - nous présentera sa Google Watch et les spécificités d’Android Wear.</p>
    </div>
</div>
</section>

    
