<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
   <h3>Programme</h3>
    <div class="content-wrapper">
   <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
   <h4 class="schedule-table-heading">28 Novembre 2014</h4>
   <div class="timeslot track-header stick-header">
      <div class="track-header-label"></div>
      <div class="timeslot-elements flexbox-wrapper">
         <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
            <h5 class="track-header-title">Sujets</h5>
         </div>
         <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
            <h5 class="track-header-title">Intervenants</h5>
         </div>
      </div>
   </div>
   <!-- 11h - 12h30 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T09:30">
      11<span>00</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:00">
      12<span>30</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Ateliers :<br/> 
                >Android Wear<br/>
                >Polymer
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Damien Cavaillès, Ikomobi</h5>
         </div>
      </div>
   </div>
   <!-- End 11h00 - 12h30 -->
   
        <!-- 14h00 - 14h30 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
    
        14<span>00</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      14<span>30</span>   
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Scaling Android to different screen sizes, from Wear to Auto</h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Alexis Moussine-Pouchkine, Google</h5>
         </div>
      </div>
   </div>
   <!-- End 14h00 - 14h30 -->
     
       
            <!-- 14h30 - 15h00  -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      14<span>30</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      15<span>00</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Android Wear, Ceci n'est pas une montre 
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Damien Cavaillès, Ikomobi
</h5>
         </div>
      </div>
   </div>
   <!-- End 14h30 - 15h00 -->
       
       
       <!-- 15h15 - 15h45  -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      15<span>15</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      15<span>45</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Retour sur l'application ABEauto
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Didier Girard, Sfeir<br/>
</h5>
         </div>
      </div>
   </div>
   <!-- End 15h15 - 15h45 -->
  
   <!-- 16h00 - 16h30 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      16<span>00</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      16<span>30</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Rendre son véhicule connecté
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Stéphane Derville, Eliocity</h5>
         </div>
      </div>
   </div>
   <!-- End 16h00 - 16h30 -->
   <!-- 16h45 - 17h15 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      16<span>45</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      17<span>15</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Les enjeux de la recherche sur les véhicules connectés  </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Atika Rivenq, IEMN-DOAE UVHC</h5>
         </div>
      </div>
   </div>
   <!-- End 16h45 - 17h15 -->
   <!-- 14h30 - 15h15 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      17<span>30</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      18<span>30</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Cocktail de clôture
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name"></h5>
         </div>
      </div>
   </div>
   <!-- End 14h30 - 15h15 -->
   
       
   
   </div>
</section>
<!-- End Schedule Section -->