<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
   <h3>Programme</h3>
    <div class="content-wrapper">
   <div class="schedule-table col-lg-8 col-md-10 col-md-offset-1">
   <h4 class="schedule-table-heading">28 Novembre 2014</h4>
   <div class="timeslot track-header stick-header">
      <div class="track-header-label"></div>
      <div class="timeslot-elements flexbox-wrapper">
         <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
            <h5 class="track-header-title">Sujets</h5>
         </div>
         <div class="track-header-slot col-md-4 flexbox-item-height hidden-xs">
            <h5 class="track-header-title">Intervenants</h5>
         </div>
      </div>
   </div>
   <!-- 11h - 12h30 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T09:30">
      11<span>00</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:00">
      12<span>30</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Ateliers :<br/> 
                >Android Wear<br/>
                >Polymer
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Damien Cavaillès, Ikomobi</h5>
         </div>
      </div>
   </div>
   <!-- End 11h00 - 12h30 -->
   
        <!-- 14h00 - 14h30 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
    
        14<span>00</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      14<span>30</span>   
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Scaling Android to different screen sizes, from Wear to Auto</h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Alexis Moussine-Pouchkine, Google</h5>
         </div>
      </div>
   </div>
   <!-- End 14h00 - 14h30 -->
     
       
            <!-- 14h30 - 15h00  -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      11<span>00</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      11<span>45</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Programme Européen Future Internet :<br/>
                >Internet des objets, architecture et outils Fi ware
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">>Thierry Nagellen, Orange Labs
</h5>
         </div>
      </div>
   </div>
   <!-- End 10h00 - 10h45 -->
       
       
       <!-- 10h00 - 11h45  -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      11<span>45</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      12<span>30</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Programme Européen Future Internet :<br/>
                >Evaluation des Generic Enablers Fi ware dans le cadre du projet ComSLoT
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">>Vincent Demortier,4PLanet SAS<br/>
            >David Zanfack UPJV-INSSET
</h5>
         </div>
      </div>
   </div>
   <!-- End 10h00 - 10h45 -->
  
   <!-- 12h30 - 13h15 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      12<span>30</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      13<span>15</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Pause déjeuner
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name"></h5>
         </div>
      </div>
   </div>
   <!-- End 12h30 - 13h15 -->
   <!-- 13h30 - 14h15 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      13<span>30</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      14<span>15</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">Programme Européen Future Internet :<br/>
                >Appels à projets et financements		
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Thierry Nagellen, Orange Labs</h5>
         </div>
      </div>
   </div>
   <!-- End 13h30 - 14h15 -->
   <!-- 14h30 - 15h15 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      14<span>30</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      15<span>15</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">>Intel Android NDK<br/>
                Optimisation des applis Android
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Xavier Hallade, Intel</h5>
         </div>
      </div>
   </div>
   <!-- End 14h30 - 15h15 -->
   
       
       <!-- 15h30 - 16h00 -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
   <div class="timeslot-label">
      <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
      15<span>30</span>
      </time>
      <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
      16<span>00</span>
      </time>
   </div>
   <div class="timeslot-elements flexbox-wrapper">
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
         <div class="color-line" style="background: #90be4e"></div>
         <div class="slot-content" style="border-right-color: #90be4e">
            <h5 class="slot-title" itemprop="name">>Intel Galileo, Retour d'expérience<br/>
            </h5>
         </div>
      </div>
      <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
         <div class="color-line" style="background: #03a9f4"></div>
         <div class="slot-content" style="border-right-color: #03a9f4">
            <h5 class="slot-title" itemprop="name">Faubourg Numérique Team</h5>
         </div>
      </div>
   </div>
   <!-- End 14h30 - 15h15 -->
          
       <!--   15h30 - 17h30  -->
   <div class="timeslot" itemtype="http://schema.org/subEvent">
      <div class="timeslot-label">
         <time class="start-time" itemprop="startDate" datetime="October 15T10:00">
         16<span>00</span>
         </time>
         <time class="end-time" itemprop="endDate" datetime="October 24T10:45">
         17<span>30</span>
         </time>
      </div>
      <div class="timeslot-elements flexbox-wrapper">
         <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Android" data-toggle="modal" data-target="#sessionDetail-2">
            <div class="color-line" style="background: #90be4e"></div>
            <div class="slot-content" style="border-right-color: #90be4e">
               <h5 class="slot-title" itemprop="name">Ateliers : <br/>
                   >Android Wear<br/>
                   >Intel Galileo<br/>
                   >Intel NDK<br/>
                   >Projets Fi ware<br/>
                   
               </h5>
            </div>
         </div>
         <div class="slot col-md-4 col-xs-12 flexbox-item-height" data-slot-detail="Web &amp; Cloud" data-toggle="modal" data-target="#sessionDetail-3">
            <div class="color-line" style="background: #03a9f4"></div>
            <div class="slot-content" style="border-right-color: #03a9f4">
               <h5 class="slot-title" itemprop="name"></h5>
            </div>
         </div>
      </div>
      <!-- End   15h30 - 17h30  -->
   </div>
</section>
<!-- End Schedule Section -->